
# Ignore pycache
__pycache__/

# Ignore venv
venv/


# ignore these types of files
data/agent_saves/StableBaselines3_sac_endo_ascent/logs/SAC_*/events.out.tfevents.*

events.out.tfevents.*

# Ignore lmdb files
data/pso_saves/*/experience_buffer.lmdb