
# Ignore pycache
__pycache__/

# Ignore venv
venv/


# ignore these types of files
data/agent_saves/StableBaselines3_sac_endo_ascent/logs/SAC_*/events.out.tfevents.*

events.out.tfevents.*

# Ignore lmdb files
data/pso_saves/*/experience_buffer.lmdb
data/experience_buffer/ballistic_arc_descent/experience_buffer.lmdb/data.mdb
data/experience_buffer/ballistic_arc_descent/experience_buffer.lmdb/lock.mdb
data/experience_buffer/flip_over_boostbackburn/experience_buffer.lmdb/data.mdb
data/experience_buffer/flip_over_boostbackburn/experience_buffer.lmdb/lock.mdb
data/experience_buffer/subsonic/experience_buffer.lmdb/data.mdb
data/experience_buffer/subsonic/experience_buffer.lmdb/lock.mdb
data/experience_buffer/supersonic/experience_buffer.lmdb/data.mdb
data/experience_buffer/supersonic/experience_buffer.lmdb/lock.mdb
data/agent_saves/VanillaSAC/flip_over_boostbackburn/saves/soft-actor-critic_test.pkl
data/agent_saves/VanillaSAC/flip_over_boostbackburn/saves/soft-actor-critic.pkl
data/agent_saves/VanillaSAC/subsonic/saves/soft-actor-critic.pkl
data/agent_saves/VanillaSAC/subsonic/saves/soft-actor-critic_test.pkl
data/agent_saves/VanillaSAC/supersonic/saves/soft-actor-critic_test.pkl
data/agent_saves/VanillaSAC/supersonic/saves/soft-actor-critic.pkl
data/pso_saves/flip_over_boostbackburn/saves/swarm.pkl
data/pso_saves/subsonic/saves/swarm.pkl
data/pso_saves/supersonic/saves/swarm.pkl
data/agent_saves/VanillaSAC/ballistic_arc_descent/saves/soft-actor-critic.pkl
data/agent_saves/VanillaSAC/subsonic/saves/buffer_after_filling.pkl
data/buffer_saves/subsonic/buffer_after_filling_old_n_step.pkl
data/buffer_saves/subsonic/buffer_after_filling.pkl
.gitignore
data/buffer_saves/buffer_subsonic_LEGACY.pkl
data/buffer_saves/buffer_subsonic.pkl
