
# Ignore pycache
__pycache__/

# Ignore venv
venv/


# ignore these types of files
data/agent_saves/StableBaselines3_sac_endo_ascent/logs/SAC_*/events.out.tfevents.*

events.out.tfevents.*

# Ignore lmdb files
data/pso_saves/*/experience_buffer.lmdb
data/experience_buffer/ballistic_arc_descent/experience_buffer.lmdb/data.mdb
data/experience_buffer/ballistic_arc_descent/experience_buffer.lmdb/lock.mdb
data/experience_buffer/flip_over_boostbackburn/experience_buffer.lmdb/data.mdb
data/experience_buffer/flip_over_boostbackburn/experience_buffer.lmdb/lock.mdb
data/experience_buffer/subsonic/experience_buffer.lmdb/data.mdb
data/experience_buffer/subsonic/experience_buffer.lmdb/lock.mdb
data/experience_buffer/supersonic/experience_buffer.lmdb/data.mdb
data/experience_buffer/supersonic/experience_buffer.lmdb/lock.mdb
data/agent_saves/VanillaSAC/flip_over_boostbackburn/saves/soft-actor-critic_test.pkl
data/agent_saves/VanillaSAC/flip_over_boostbackburn/saves/soft-actor-critic.pkl
data/agent_saves/VanillaSAC/subsonic/saves/soft-actor-critic.pkl
data/agent_saves/VanillaSAC/subsonic/saves/soft-actor-critic_test.pkl
data/agent_saves/VanillaSAC/supersonic/saves/soft-actor-critic_test.pkl
data/agent_saves/VanillaSAC/supersonic/saves/soft-actor-critic.pkl
data/pso_saves/flip_over_boostbackburn/saves/swarm.pkl
data/pso_saves/subsonic/saves/swarm.pkl
data/pso_saves/supersonic/saves/swarm.pkl
data/agent_saves/VanillaSAC/ballistic_arc_descent/saves/soft-actor-critic.pkl
data/agent_saves/VanillaSAC/subsonic/saves/buffer_after_filling.pkl
data/buffer_saves/subsonic/buffer_after_filling_old_n_step.pkl
data/buffer_saves/subsonic/buffer_after_filling.pkl
.gitignore
data/buffer_saves/buffer_subsonic_LEGACY.pkl
data/buffer_saves/buffer_subsonic.pkl
data/agent_saves/TD3/subsonic/saves/td3.pkl
data/agent_saves/TD3/subsonic/saves/td3.pkl
report.log
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/1_A_1/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/1_A_2/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/1_A_2/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/1_A_3/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/1_A_3/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_A_1/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_A_1/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_A_2/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_A_2/learning_stats/sac_learning_stats.csv

# Automatically added by PostProcess_data.py
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_A_3/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_A_3/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_A_3/agent_saves/sac_pytorch.zip
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_A_2_old/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_A_2_old/learning_stats/sac_learning_stats.csv

# Automatically added by PostProcess_data.py
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/20250605_182602/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_A_4/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_A_4/agent_saves/sac_pytorch_learning_stats.csv

# Automatically added by PostProcess_data.py

# Automatically added by PostProcess_data.py
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/3_A_1/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/3_A_1/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/3_A_2/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/3_A_2/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/3_A_3/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/3_A_3/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/3_A_4/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/3_A_4/learning_stats/sac_learning_stats.csv

# Automatically added by PostProcess_data.py
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/20250606_122801/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/20250606_122801/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/20250606_153426/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/20250606_153426/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/20250606_154927/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/20250606_154927/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/20250606_182149/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/20250606_182149/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_B_0/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_B_0/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_B_1/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_B_1/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_B_2/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_B_2/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_B_3/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/2_B_3/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/20250606_122801/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/20250606_122801/learning_stats/sac_learning_stats.csv

# Automatically added by PostProcess_data.py
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/20250608_002653/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/Larger_Network/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/Larger_Network/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/PER_1000/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/PER_1000/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/PER_2000/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/PER_2000/learning_stats/sac_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/Sparse/agent_saves/sac_pytorch_learning_stats.csv
data/agent_saves/PyTorchSAC/LandingBurnPureThrottle/Sparse/learning_stats/sac_learning_stats.csv

# Automatically added by PostProcess_data.py
